<!DOCTYPE html>
<html>
<head>
    <title>Green Background - Version 2</title>
    <style>
        body {
            background-color: green;
        }
        
        .version {
            font-size: 40px;
            text-align: center;
            margin-top: 200px;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <div class="version">Argo-Rollouts Course by DevOps Hobbies</div>
    <div class="version">Version 2</div>
</body>
</html>